:root {
  --card-1-stroke: #e67339;
  --card-2-stroke: #a66363;
  --card-3-stroke: #eb3828;
  --card-4-stroke: #a6a09d;
  --card-5-stroke: #99938a;
  --card-6-stroke: #5f7c98;
  --card-base-stroke: #e0e0e0;
  --card-copy: #000;
}
h1 {
  font-size: 7vw;
  line-height: 1.25;
}
h3 {
  font-size: 3vw;
}
img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro,
.outro {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 80%;
  margin: 0 auto;
}
.card-container {
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-container .svg-stroke {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  width: 100%;
  height: 100%;
}
.card-container:nth-child(2) .svg-stroke-1 svg path {
  stroke: var(--card-2-stroke);
}
.card-container:nth-child(2) .svg-stroke-2 svg path {
  stroke: var(--card-3-stroke);
}
.card-title {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
}
.card-title .word {
  will-change: transform;
}
